.oracle-card{
  width: 290px;
  height: 138px;
  background-image: url('./img/bg.png');
  background-size: 100% 100%;
  background-position: left top;
  background-color: #29263F;
  &:hover{
    background-image: url('./img/bg_select.png');
  }
  .card-left{
    width: 128px;
    padding-right: 10px;
    .top{
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      color: #fff;
      padding-top: 4px;
    }
  }
  .card-right{
    padding-right: 15px;
    .top{
      padding-top: 4px;
    }
    .active, .terminted, .suspended{
      color: #76FCB3;
      font-weight: 700;
      font-size: 18px;
      
    }
    .terminted{
      color: #FF007A;
    }
    .suspended{
      color: #FFE500;
    }
    .amount{
      font-weight: 500;
      font-size: 21.4286px;
      line-height: 25px;
      color: #fff;
      text-align: right;
    }
    .time{
      font-weight: 500;
      font-size: 13px;
      line-height: 24px;
      color: #fff;
      text-align: right;
      margin-top: 13px;
    }
  }
  .statuc-icon{
    display: inline-block;
    margin-right: 7px;
  }
}